
.calculator{
  margin: 10% auto;
  width: 400px;
  height: 500px;
  border: 1px solid black;
}

.calculator-body, .calculator-body-last{
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  padding: 0;
}
.calculator-body > div, .calculator-body-last > div  {
  border-right: 1px solid red;
  border-bottom: 1px solid red;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  /* background-color: blue; */
  
}
.cols-span-2{
  grid-column: 1 / span 2;
}
